{% load staticfiles %}
<html>
  <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>
      <div class="page-header">
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="/">Python Practice</a></h1>
      </div>
      <div class="content container">
        <div class="row">
            <div class="col-md-8">
              {% block content %}
              {% endblock %}
            </div>
        </div>
    </div>
    <hr/>
      <div>
          현재 갱신중... 1번 쨰 갱신, 수정자 kyriale
          db=sqlite
          言語＝python　3.5
          framwork = django
          editer = atom
      </div>
  </body>
</html>
