{% load staticfiles %}
<html>
  <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>
    <div class="page-header">
      <h1><a href="/">Python Practice</a></h1>
    </div>
    <div class="jb-container">
      <div class="jb-header">
        <a href="{% url 'private' %}">Notice</a>
      </div>
      <div class="jb-content">
        {% block content %}
        {% endblock %}
      </div>
      <div class="jb-sidebar">
        <ul>
          <li><a href="{% url 'post_new' %}">データ入力</a></li>
          <li><a href="contact.asp">Contact</a></li>
          <li><a href="about.asp">About</a></li>
        </ul>
      </div>
      <div class="jb-footer">
        현재 갱신중... 3번 쨰 갱신, 수정자 kyriale, 갱신일 17/8/18
        db=sqlite
        言語＝python　3.5
        framwork = django
        editer = atom
      </div>
    </div>
  </body>
</html>
